<!doctype html>
<html class="no-js" ng-app="rr">
  <head>
    <meta charset="utf-8">
    <title>frontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <!-- endbuild -->

    <!--Oauth stuff-->
    <script src="bower_components/oauth-js/dist/oauth.js"></script>
    <!-- // <script src="oauth2.js"></script> -->
    <!--...-->

    <!-- build:js scripts/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="main" ng-controller="MainCtrl">

      <div class="row">

        <div class="col-md-2 side">
           <button ng-mouseenter="tab=1" ng-init="tab=0" ng-hide="tab===1" type="button" class="btn btn-lg btn-primary cta">Take a Chance<span class="glyphicon glyphicon-chevron-right"></span></button>

           <div class="userinput" ng-show="tab===1" ng-hide="tab===0" ng-controller="MainCtrl">
               <div class="form-group">
                <label>
                  <span class="glyphicon glyphicon-cutlery "></span> Cuisine
                </label>
                <input type="text" class="form-control" ng-model="selectedCuisine" ng-options="cuisine for cuisine in cuisines" placeholder="Enter cuisine" bs-typeahead>
                </div>

                <div class="form-group">
                 <label>
                   <span class="glyphicon glyphicon-road">Distance</span>
                 </label>
                 <input type="text" class="form-control" ng-model="selectedDistance"  data-animation="am-flip-x" ng-options="distance for distance in distances" placeholder="How Far in Miles?" bs-typeahead>
                </div>
           </div>
        </div>


        <div ng-mousedown="tab=0" class="col-md-10 jumbo">
          <h1>restaurant roulette </h1>
          <h3>it's up to fate</h3>
        </div>
      </div>

      <div class="footer">
        <p>With ♥ from Joey G, Daniel Cox &amp; Austin Sprawls</p>
      </div>


    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>



    <!-- build:js scripts/vendor.js -->

    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/rr.js"></script>
    <script src="scripts/date.js"></script>
    <script src="scripts/main/main-ctrl.js"></script>
    <script src="scripts/parse-option.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>


    <!-- inject:partials -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
